{%extends 'base.html'%}

{%block content%}
<style>
	#ven{
	margin-left: 40px;
		margin-right: 120px;
		color: white;
		border-bottom: solid 2px;
		border-color: #8E8E8E;
		margin-top: 0px;
		margin-bottom: 0px;
	}

	a:hover{
			color:#22B7A1;

		}
</style>
<div id="ven">
{%if form.errors%}
<p>Usuario y contraseña no coinciden</p>
{%else%}
<form action="{%url 'login'%}" method="post">
	{%csrf_token%}
	{{form.as_p}}
	<input type="hidden" name="next" value="{{next}}"/>
	<input  id="botin" type="submit" value="Iniciar Sesión">
</form>
<p>¿No tienes cuenta? <a href="{%url 'alta'%}">¡Regístrate Aquí!</a></p>
{%endif%}
</div>

{%endblock content%}